.row-flex {
    display: flex;
}
.row-flex > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 3552px;
}
.game {
    height: 215px;
    /*margin-bottom: 20px;*/
}

.media-object {
    width: 50px;
    height: 50px;
}

