.row-flex {
    display: flex;
}
.row-flex > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*height: 3552px;*/
}
.game {
    height: 139px;
    /*margin-bottom: 20px;*/
    
}
 
.player {
	border: 1px solid lightgray;
	padding: 5px 15px;
	border-radius: 5px;
	background: white;
}
.media-object {
    width: 30px;
    height: 30px;
}

.header {
	margin-bottom: 20px;
	border-bottom: 1px solid lightgray;
	padding: 10px;
}
.dept {
	float: right;
	color: green;
}

.well {
	background-color: rgba(245, 245, 245, 0.18);
	padding: 10px;
}

.panel-body {
	font-weight: bold;
	color: #777B7F;
}

.winner {
  border-color: #ccc;
  border-color: rgba(121, 236, 82, 0.8);;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: 0 0 8px rgba(82, 236, 101, 0.6);
  box-shadow: 0 0 8px rgba(82, 236, 101, 0.6);
}

.loser {
  border-color: #ccc;
  border-color: rgba(236, 82, 82, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: 0 0 8px rgba(236, 82, 82, 0.6);
  box-shadow: 0 0 8px rgba(236, 82, 82, 0.6);
}

.round {
    width: 20%;
    padding: 20px;
}

.panel-heading {
    font-size: 12px;
}

.finals {
    font-size: 64px;
}

.finals > i {
    vertical-align: middle;
}

